.weather-statistic {
    height: calc(100vh - 76px - 40vh);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .weather-status-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;

        .weather-status__icon {
            font-size: 65px;
        }

        .weather-status-inner {
            margin-left: 25px;
            .weather-status {
                font-size: 40px;
                margin-bottom: 15px;
            }

            .weather-params{
                .param {
                    margin-right: 10px;
                }
            }
        }
    }

    .weather-statistic__bottom-bar {
        width: 100%;
        display: flex;

        .bottom-bar-item {
            flex: 1;
            height: 125px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .bottom-bar-item__title {
                font-size: 16px;
                font-weight: 400;
            }
            .bottom-bar-item__value {
                font-size: 32px;
            }

            .round-button {
                width: 45px;
                height: 45px;
                background: #b4d8de;
                border-radius: 45px;
                border: 2px solid;
                margin-bottom: 30px;
                cursor: pointer;
            }

            .add-btn {
                border: none;
                background-color: transparent;
                margin-top: 30px;
                cursor: pointer;
                .btn-icon {
                    color: $COLOR_BLACK_FADED;
                    font-size: 40px;
                    margin-bottom: 10px;
                }
                .btn-title {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
        .bottom-bar-item:not(:first-child) {
            position: relative;
            &::before {
                content: "";
                background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
                height: 100%;
                width: 1px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}
