.chart-container {
    height: 40vh;
    width: 100vw;
    overflow: auto;
    background-color: #fff;
    position: relative;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}