@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

$COLOR_GRADIENT: 180deg, rgba(27, 61, 136, 0.91) 0%, rgba(37, 134, 171, 0.94) 60%, rgba(28, 135, 187, 0.57) 100%;
$COLOR_TEXT: #fff;
$COLOR_TEXT_FADED: rgba(255, 255, 255, 0.6);