@import "variables.scss";

@import "../../App.scss";
@import "../../components/Icon/Icon.scss";
@import "../../components/NavBar/NavBar.scss";
@import "../../components/WeatherStatistic/WeatherStatistic.scss";

body {
    padding: 0;
    margin: 0;
    color: $COLOR_TEXT;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
}
